@import "Colors";

@media (min-width:992px){
    .values-third{
        .container{
            max-width: 800px;
            margin-top: 90px;
        }
    }
}
.values{
    .container{
        position: relative;
    }
    .path{
        position: absolute;
        left: 30%;
    }
    .workflowArrow{
        position: absolute;
        left: 35%;
        top: -56px;
        height: 100px;
        width: 100px;
    }
    .rowMargin{
    margin-top: 10%;
    }
    .values-main{
        background-image: url('../Assets/value main.png');
        width: 100%;
        height: 624px;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 6%;
        text-align: center;
    }
    .values-second{
        background-image: url('../Assets/value second.png');
        width: 100%;
        height: 696px;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding-top: 6%;
        position: relative;
    }
    .values-third{
        background-image: url('../Assets/value third.png');
        width: 100%;
        height: 1921px;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 3%;
    }
    .processSvg{
        margin-top: 15px;
    }
    .txtdiv{
        height: 75px;
        width: 60%;
        opacity: 0.85;
        margin-left: auto;
        margin-right: auto;
        border-radius: 73px;
        background-color: #91BF4C;
        margin-top: 20px;
        padding: 11px;
        .txt{
            color: #FFFFFF;
            // font-family: Poppins;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 25px;
            text-align: center;
        }
    }
    .expandMore {
        position: absolute;
        bottom: 40px;
    }
    .fl-right{
        float: right;
    }
    article {
            width: 228px;
            height: 200px;
            -webkit-clip-path: url(#hexagono);
            clip-path: url(#hexagono);
            -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
            clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
            margin-right: calc(var(--size) / 2);
            color: #fff;
            overflow: hidden;
            text-align: center;
            padding-top: 80px;

        .workItem{
            margin-bottom: 0px;
            font-size: 25px;
        }
        .workDesc{
            margin-top: 0px;
            font-size: 12px;
        }
    }
   .art-blue{
    background-color: rgba(14,122,191,0.61);
   }
   .art-green{
    background-color: rgba(145,191,76,0.61);
   }
   .art-white{
    background-color: rgba(231,231,231,0.41);
   }
    .art-black{
        background-color: rgba(0,0,0,0.41);
    }
}
